/* Pre - impostazioni */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {

    font-size: 20px;
    font-family: 'Roboto', sans-serif;

}

/* HELPERS */

h1,
h2,
h3,
h4,
h5,
p,
span {

    color: #fff;

}

.super-big-title {

    font-family: 'Lobster', cursive;
    font-size: 6rem;

}

.big-title {

    font-size: 4rem;

}

.medium-title {

    font-size: 2rem;
    padding: 0 15px;

}

.small-title {

    font-size: 1.6rem;
    font-weight: 300;

}



/* HEADER */

.header {

    display: flex;
    justify-content: center;
    font-family: 'Lobster', cursive;

}

.header__contenitore {

    position: fixed;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 20px;
    width: 95%;
    max-width: 1500px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {

    display: flex;
    align-items: center;

}

.logo img {

    width: 250px;

}

.menu {

    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-right: 50px;

}

.logo p {

    font-family: 'Lobster', cursive;
    font-size: 2rem;
    color: #05668d;
    text-align: center;

}

.menu a {

    font-size: 1.3rem;
    text-decoration: none;
    color: #000;

}




/* MAIN */


/* SECTION 1 */

main {

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.section {

    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

#section-1,
#section-3 {

    background-color: #05668d;

}

#section-2,
#section-4 {

    background-color: #fff;

}

#section-2 .super-big-title,
#section-4 .super-big-title {

    color: #000;

}

#section-2 .medium-title,
#section-4 .medium-title {

    color: #000;

}

#section-2 .small-title,
#section-4 .small-title {

    color: #000;

}

.col {

    height: 100%;
    width: 50%;

}

.col__text {

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.col__text .super-big-title {

    margin-bottom: 0;

}

.col__text p {

    text-align: center;

}

.col__img {

    height: 100%;

}

.col img {

    width: 100%;

}



/* FOOTER */

footer {

    height: 30vh;
    background-color: #000;
    color: #fff;
    line-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.footer__img {

    width: 300px;

}

.footer__list {

    list-style: none;
    font-size: 1.2rem;

}

footer p {

    color: #fff;

}