/* Pre - impostazioni */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root{

    font-size: 20px;
    font-family: 'Roboto', sans-serif;

}

/* HELPERS */

h1, h2, h3, h4, h5, p, span{

    color: #fff;

}

.super-big-title{

    font-family: 'Lobster', cursive;
    font-size: 6rem;

}

.big-title{

    font-size: 4rem;

}

.medium-title{

    font-size: 2rem;
    padding: 0 15px;

}

.small-title{

    font-size: 1.5rem;

}



/* HEADER */

.header{

    display: flex;
    justify-content: center;
    font-family: 'Lobster', cursive;

}

.header__contenitore {

    position: fixed;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 20px;
    width: 95%;
    max-width: 1500px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{

    display: flex;
    align-items: center;

}

.logo img {

    width: 250px;

}

.menu{

    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-right: 50px;

}

.logo p{

    font-family: 'Lobster', cursive;
    font-size: 1.7rem;
    color: #000;
    text-align: center;

}

.logo span{

    font-size: 2rem;
    color: #05668d;

}

.menu a{

    font-size: 1.3rem;
    text-decoration: none;
    color: #000;

}




/* MAIN */


/* SECTION 1 */

main{

    display: flex;
    justify-content: center;

}

.section{

    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

#section-1{

    background-color: #05668d;

}

.col{

    height: 100vh;
    width: 50%;

}

.col__text{

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.col__text h1{

    margin-bottom: 0;

}

.col__text p{

    text-align: center;

}

.col__img{

    height: 100%;

}

.col img{

    width: 100%;

}